/*ABOUT US PAGE CSS*/

/* Site Heading */
.site-heading h3{
  font-size : 40px;
  margin-bottom: 15px;
  font-weight: 600;
}
/* font CSS for paragraph */
.bGcolor{
  background-color: black;
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-style: normal;
  color: #494949;/*  hex code*/
  font-size: 16px;
  padding-bottom: 50px; /* padding for bottom of page*/
}
/* font color */
.row{
  color: orange;
} 
/*  border for weblayout*/
.border {
  background: #e1e1e1;
  height: 1px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}
/* This to position paragraph */
.para-position {
  padding-top:60px;
  padding-bottom:60px;
}
/*  this is to position the coffee banner on the top of page*/
 .image-banner {
   margin-top:70px;
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 110px;
  padding-bottom:110px;
}
.col-md-6{
  color: orange;
}
.navbar {
  font-size:52px;
  font-weight: 600;
  text-transform: none;
  color:orange;
}
/* paragraph color*/
.cl{
    color:orange;
}
/* */
.image-aboutus-para {
  color:#fff;
}
/* Breadcum bar */
.bread-bar {
  background: #f9f9f9;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  min-height: 40px;
  height: auto;
  position: relative;
  z-index: 555;
}
/* nav bar symbol */
.breadcrumb > li + li::before {
  content: "\203A";
  color: #999;
  padding: 0 8px;
}

/*GAME CSS*/


.backgroundEff {
  background-image: url("game.jpg");
  background-color: #cccccc;
 }
 .myHeading{
   text-align: center;
 }
 /*creating canvas of the game*/
 #game{
   width: 300px;
   height: 500px;
   border: 4px solid black;
   margin: auto; /* the game space in middle of page */
   box-sizing: border-box;
   overflow: hidden;/*this prevents the circle from the leaving the game div at the bottom*/
   background-color: Lavender;
 }
 /*Css for triangle shape in the game*/
 #character{ 
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid DarkSlateBlue;
    position: relative;/*for the triangle to be at the bottom */
    top: 300px;
    left: 0px;
 
 }
 /*css for a circle shape in the game*/
 #block{
 width: 100px;
 height: 100px;
 top: 500px;
 background-color: black;
 border-radius: 100%;
 position: relative;
 animation: slide 1s infinite linear;/*allows shape to infintly slide down the screen*/
 
 }
 /* animation loop for the circle shape to continously slide down*/
 @keyframes slide{
   0%{top:-100px}; /*this is for position starting at top*/
   1000%{top:500px};/**/
 }
 